.campaignContainer {
  margin-top: 80px;

  nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    li {
      background: #548608;
      color: white;
      padding: 12px 32px;
      margin-right: 20px;
      list-style-type: none;

      &.selected {
        background: white;
        color: #548608;
        border: 2px solid #548608;
      }
    }
  }

}