.mainContainer {

  .rowItem {
    display: flex;
    justify-content: center;
    align-items: center;

    .colItem {
      flex: 1;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
      background: white;
      padding: 12px 48px 32px;

      p {
        text-align: right;
      }
    }
  }
}