.mainContainer {

  .rowItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid #d2d2d2;

    .colItem {
      flex: 1;

      img {
        width: 32px;
        height: 32px;
      }

      &.nameItem {
        display: flex;

        :first-child {
          margin-right: 12px;
        }
      }
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
      background: white;
      padding: 12px 48px 32px;

      p {
        text-align: right;
      }
    }
  }
}